
.app{
  display: flex;

}

.button{
  display: flex;
  height: 4em;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: rgb(216, 210, 202);
  color: grey;
  outline: 1px solid grey;
  flex: 1;
}

.notNumber{
  background-color: orange;
  color: white;

}